{% extends 'base.html' %}
{% block content %}
<div class="choices">
    <span class="title-b">Новое объявление</span><br><br>
    <a href="{% url 'create_advert' 1 %}"><div class="choices-b"><span>Авто</span><span>&#9002;</span></div></a>
    <a href="{% url 'create_advert' 2 %}"><div class="choices-b"><span>Недвижимость</span><span>&#9002;</span></div></a>
    <a href="{% url 'create_advert' 3 %}"><div class="choices-b"><span>Работа</span><span>&#9002;</span></div></a>
    <a href="{% url 'other_advert' %}"><div class="choices-b"><span>Прочее</span><span>&#9002;</span></div></a>
</div>
{% endblock %}