{% extends 'base.html' %}
{% block content %}
<div class="edit-profile">
    <div class="form-b">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form1 %}
                <div class="inputs">
                    <span>{{ field.label }}</span><span>{{ field }}</span>
                </div><br>
            {% endfor %}
            {% for field in form3 %}
                <div class="inputs">
                    <span>{{ field.label }}</span><span>{{ field }}</span>
                </div><br>
            {% endfor %}
            {% if images %}
            <div class="images-a">
                {% for image in images %}
                    <div class="images-a-div"><div class="images-a-div-a"><img src="{{ image.image.url }}"></div><a href="{% url 'delete_image' image.id %}"><span class="images-a-span">×</span></a></div>
                {% endfor %}
            </div><br>
            {% endif %}
            {% for field in form2 %}
                <div class="inputs">
                    <span>{{ field.label }}</span><span>{{ field }}</span>
                </div><br>
            {% endfor %}
            {% if is_edit %}
            <button>Сохранить изменения</button>
            {% else %}
            <button>Разместить</button>
            {% endif %}
        </form><br>
    </div>
</div>
{% endblock %}