{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="search">
    <a href="{% url 'main' %}"><img src="{% static 'img/Avido.png' %}"></a>
    <form method="GET" action="{% url 'main' %}">
        {% if query %}
        <input type="search" placeholder="{{ query }}" aria-label="Search" name="q">
        {% else %}
        <input type="search" placeholder="Поиск по объявлениям" aria-label="Search" name="q">
        {% endif %}
        <button type="submit">Найти</button>
    </form>
</div>
<div class="title-a">
    {% if query %}
    <h4><b>Все объявления по запросу «{{ query }}»</b></h4>
    {% elif all_adverts %}
    <h4><b>Все объявления на сайте</b></h4>
    {% elif cars %}
    <h4><b>Все объявления автомобилей</b></h4>
    {% elif houses %}
    <h4><b>Все объявления недвижимости</b></h4>
    {% elif jobs %}
    <h4><b>Все объявления вакансий</b></h4>
    {% elif others %}
    <h4><b>Все прочее объявления</b></h4>
    {% endif %}
</div>
<div class="adverts">
    {% for advert in adverts %}
        <div class="advert">
            <a href="{% url 'advert_view' advert.id 0 %}"><img src="{{ advert.imagemodel_set.first.image.url }}"></a><br>
            <span class="ad"><b><a href="{% url 'advert_view' advert.id 0 %}">{{ advert }}</a></b><br></span>
            <b>{{ advert.price|intcomma }} ₽</b><br>
            <span class="advert-info">Казань, {{ advert.address }}<br>
            {{ advert.publication_date }}</span>
        </div>
    {% endfor %}
</div>
{% endblock %}